* {
    margin: 0;
}

:root {
    --rich-black-fogra-29: #060816ff;
    --space-cadet: #171738ff;
    --royal-blue-dark: #0a2d64ff;
    --baby-blue: #9cdcffff;
    --light-cyan: #d9f6ffff;
    --lemon-yellow-crayola: #feffabff;
    --white: #ffffffff;

}

body {
    background: var(--baby-blue);
}

.image {
    position: absolute;
    height: 100vh;
    background-image: url("../assets/grassImage.png");
    background-size: 64px 512px;
    image-rendering: pixelated;
}

#parent {
    position: absolute;
    width: 100%;
    height: 5000px;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 200px;
}

canvas {
    position: absolute;
    image-rendering: pixelated;
    z-index: 2;
    bottom: 0;
}

.footer {
    height: 500px;
    width: 100%;
    background: var(--space-cadet);
}

.character {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 128px;
    position: relative;
    height: 104px;
}
.character img {
    position: absolute;
    margin: auto;
    width: 120px;
    image-rendering: pixelated;
    margin-bottom: -4px;
    z-index: 110;
    left: 50%;
    transform: translate(-50%);
}

#clouds {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 256px;
    z-index: 1;
}

.cloud {
    position: absolute;
    width: 512px;
    image-rendering: pixelated;
    z-index: 1;
}